#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.board {
    display: flex;
    flex-wrap: wrap;
    margin: 1em 0;
}

.cell {
    background: #333333;
    border: 1px solid #999;
    margin: 0;
    padding: 0;
    font-size: 4em;
    flex-basis: 32.8642%;
    width: 50px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.result {
    font-size: 1.75em;
    margin: 1em 0;
}

.x {
    color: #5E0F2E;
    font-weight: bolder;
}

.o {
    color: #B71954;
    font-weight: bolder;
}

.reset-button {
    background: #1B1119;
}

.goto-button {
    background: #1B1119;
    margin: 0.1em 0 0 1em;
}

.game {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.tic-tac-toe-header {
    font-size: 75px;
    font-weight: 1000;
    background: -webkit-linear-gradient(60deg, #5E0F2E 0%, #B71954 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.move {
    margin: 0;
    padding: 0;
}

.move-list {
    margin-top: 200px;
    margin-left: 100px;
}

.moves-header {
    padding-left: 50px;
    padding-right: 50px;
}